<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon></mat-icon>
  </button>
  <samp>SISCEM</samp>
  <span class="example-spacer"></span>
  <button [matMenuTriggerFor]="menuInformeContable" mat-button>Informes contable</button>
  <mat-menu #menuInformeContable>
    <button mat-menu-item *ngFor="let item of menuListInformeContable" [routerLink]="item.url"> {{ item.label }}
    </button>
  </mat-menu>
  <button [matMenuTriggerFor]="menuInformesFacturacionPos" mat-button>Informes Facturacion pos</button>
  <mat-menu #menuInformesFacturacionPos >
    <button mat-menu-item *ngFor="let item of menuListInformesFacturacionPos" [routerLink]="item.url" (click)="item.action && item.action()"> {{ item.label }}
    </button>
  </mat-menu>
  <button [matMenuTriggerFor]="menuInformesInventarios" mat-button>Informes Inventarios</button>
  <mat-menu #menuInformesInventarios = matMenu>
    <button mat-menu-item *ngFor="let item of menuListInformeInventario" [routerLink]="item.url" (click)="item.action && item.action()"> {{ item.label }}
    </button>
  </mat-menu>

  <button routerLink="" mat-button>Informes Clientes</button>
  <button routerLink="" mat-button>Informes Proveedores</button>
  <button mat-button (click)="logout()">Cerrar </button>

</mat-toolbar>
<h1>{{usuario}}</h1>

<router-outlet></router-outlet>

