<h1>
  formulario
<small>LINEA PRODUCTO</small>
</h1>
<mat-divider class="mb-2"></mat-divider>
<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <div class="grid">
          <mat-form-field class="cl-12 sm:col-6">
            <mat-label>Selecion</mat-label>
            <mat-select required="">
              <mat-option *ngFor="let producto of productos"
              [value]="producto.nombre">
              {{producto.nombre}}
            </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary">
          <mat-icon>
            save
          </mat-icon>
          consultar
        </button>
      </mat-card-content>
    </mat-card>

  </div>

</div>
