<h1>
<small>FORMULARIO LINEA PRODUCTO</small>
</h1>
<mat-divider class="mb-2"></mat-divider>
<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <div class="grid">
          <mat-form-field class="cl-12 sm:col-6">
            <mat-label>Selecion</mat-label>
            <mat-select [(value)]="selectedNombre" >
              <mat-option *ngFor="let producto of productos"
              [value]="producto.nombre">
              {{producto.nombre}}
            </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary"(click)="exportToProductoLineaPdf(selectedNombre)">
          <mat-icon>
            save
          </mat-icon>
          Descargar PDF
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
